<div class="add-comment">
<form class="comment-form">
  <div class="mb-3">
    <label class="form-label">New Comment</label>
    <textarea class="form-control" name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn btn-primary" type="submit">add comment</button>
  </div>
</form>
</div>