<div class="row d-flex justify-content-center">
    <div class="col-7 login-container">
        <form class="signup-form">
            <div class="mb-3">
                <h2>Signup</h2>
                <label for="inputUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="inputUsername" aria-describedby="userName">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>
            <button id="signup-btn" type="submit" class="btn btn-primary">Submit</button> <a href="/login" id="login-btn"
                type="submit" class="btn btn-link">Already registered? Login</a>
        </form>
    </div>
</div>

<script src ="/javascript/signup.js"></script>